{% extends "base.html" %}
{% block content %}
<div class="light-blue-text text-darken-4 center-align">Categories</div>

<!--we do need a button that will bring us to the form to add a new category.-->
<div class="row">

    <div class="col s12 center-align">
        <a href="{{ url_for('add_category')}}" class="btn-large light-blue darken-2">
            Add Category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<!--copied code from Materialize- basic cards-->
<div class="row">
    {% for category in categories %}
    <div class="col s12 m6 l3"> <!--we added l3 on large devices it will occupy 25% of the screen-->
      <div class="card light-blue darken-4 center-align">
        <div class="card-content white-text">
          <span class="card-title">{{ category.category_name }}</span>
          
        </div>
        <div class="card-action">
          <a href="{{ url_for('edit_category', category_id=category.id )}}" class="btn green accent-4">Edit</a> <!--we need to have some possibility to edit and delete the category, this is formatted as button. We set the url_for link to edit_category.html and we need to specify the category.id, which is edited.-->
          <a href="#"class="btn red">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}