{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large light-blue darken-2">
            Add Task <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for task in tasks|sort(attribute = "due_date") %} <!--we use the sort method https://jinja.palletsprojects.com/en/3.0.x/templates/#jinja-filters.sort-->
    <li>
      <div class="collapsible-header white-text light-blue darken-4">
        <i class="fas fa-caret-down"></i>
        <!--we use the string for time method of python https://strftime.org/-->
        <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime("%d %B, %Y")}} 
        {% if task.is_urgent == True%}
            <i class="fas fa-exclamation-circle light-blue-text text-lighten-2"></i>
        {% endif %}
      </div>
      <div class="collapsible-body">
        <strong>{{ task.task_category }}</strong>
        <p>{{ task.task_description }}</p>
        <p>
          <a href="{{ url_for('edit_task', task_id=task.id )}}" class="btn green accent-4">Edit</a> <!--we need to have some possibility to edit and delete the category, this is formatted as button. We set the url_for link to edit_task function in routes.py and we need to specify the task.id, which is edited. This is passed as task_id as a variable-->
          <a href="{{ url_for('delete_task', task_id=task.id )}}"class="btn red">Delete</a>         <!--we need to have some possibility to edit and delete the category, this is formatted as button. We set the url_for link to delete_category function in routes.py and we need to specify the category.id, which is edited.-->
        </p>
      </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}